name: Publish on NPM

on:
  push:
    tags:
      - v*

jobs:
  npm:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"
      - run: npm install
      - run: npm publish --access=public
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
